@use '../utils/mixins' as m;

.banner {
  inline-size: 100%;
  block-size: 100vh;
  background: url(../assets/images/bg-banner.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
